@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,200&family=Codystar&display=swap");
/* font-family: 'Anybody', cursive;
font-family: 'Codystar', cursive; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
:root {
  --teaGreen: #c9f2c7;
  --GrannySmithApple: #aceca1;
  --darkSeaGreen: #96be8c;
  --RussianGreen: #629460;
  --KombuGreen: #243119;
  --innerPadding: 1rem;
  --radius: 0.5rem;
}
body {
  font-family: "Anybody", cursive;
}
.main-wrapper {
  background-color: var(--RussianGreen);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.game-header {
  font-family: "Codystar", cursive;
  color: var(--teaGreen);
  text-shadow: 0.3rem 0.3rem var(--KombuGreen);
}
.game-header h1 {
  font-size: 3rem;
}

.play-btn,
input {
  padding: var(--innerPadding);
  border-radius: var(--radius);
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: center;
}
.alphabet-container {
  width: 90%;
  background-color: var(--darkSeaGreen);
  padding: 1rem;
  border-radius: var(--radius);
}
.letter {
  border-radius: var(--radius);
  padding: 1rem;
}
.letter:hover {
  background-color: rgb(234, 183, 166);
}
.spot {
  background-color: rgb(218, 215, 180);
  padding: 1rem;
  font-weight: bold;

  /* border: 0.1rem solid black; */
}
.display-life {
  color: aliceblue;
}

@media screen and (min-width: 480px) {
  .game-header h1 {
    font-size: 5rem;
  }
}
