$radius: 0.5rem;




// Button
$button-padding:1rem;


// colors palette

$dark-gray:#264653;
$light-gray:#2A9D8F;
$light-white:#E9C46A;
$light-red:#F4A261;
$darke-red:#E76F51;
$transparent:#8d99aea3;



//typography

$fontFamily: monospace,'Courier New', Courier;
$fontSize:1rem;