$radius: 0.5rem;




// Button
$button-padding:1rem;


// colors palette

$dark-gray:#2B2D42;
$light-gray:#8D99AE;
$light-white:#EDF2F4;
$light-red:#EF233C;
$darke-red:#D90429;
$transparent:#8d99aea3;



//typography

$fontFamily: monospace,'Courier New', Courier;
$fontSize:1rem;